.fixed-buttons {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	z-index: 1000;
	transition: all 0.5s ease;
	/* 위치 변경 시 부드러운 전환 효과 */
}

.fixed-buttons a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	text-decoration: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: background-color 0.3s, transform 0.3s, opacity 0.5s ease;
	/* 모든 상태에 대한 전환 효과 */
	font-size: 20px;
	/* 아이콘 크기 */
}

#callButton {
	background-color: #28a745;
	/* 초록색 배경 */
	color: white;
	/* 흰색 아이콘 */
}

#callButton:hover {
	background-color: #218838;
	transform: scale(1.1);
}

#callButton:active {
	background-color: #1e7e34;
	transform: scale(1);
}

#scrollTop {
	background-color: white;
	/* 하얀색 배경 */
	color: black;
	/* 검정색 아이콘 */
	opacity: 0;
	pointer-events: none;
	transition: background-color 0.3s, transform 0.3s, opacity 0.5s ease;
	/* 모든 상태에 대한 전환 효과 */
}

#scrollTop.visible {
	opacity: 1;
	pointer-events: auto;
}

#scrollTop:hover {
	background-color: #f1f1f1;
	transform: scale(1.1);
}

#scrollTop:active {
	background-color: #e1e1e1;
	transform: scale(1);
}